spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:h2:file:${h2.data-dir}
    driver-class-name: org.h2.Driver
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: h2
  h2:
    console:
      enabled: true
  http:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB




